* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  
}

.container {
    background-color: #CDA5F3;
    border: black solid 2px;
    border-radius: 3px;
    margin: 8px;
    display: inline-block;
}

.row{   
    
}

.col-sm- {
    border: none;
}

.col-sm-2{
    border: black solid 2px;
    border-radius: 3px;
}
.col-sm-3{
    border: black solid 2px;
}